//abstract
$color-text: #E4E5EA;
$color-background: #1E1E1E;

@mixin font ($size, $height: $size, $weight: normal, $style: normal) { 
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

%font-prim {
  font-family: 'Inter', Verdana, sans-serif;
}

%font-add {
  font-family: 'Montserrat', Verdana, sans-serif;
}


* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: url("./assets/image/Desktop-background.png");
  background-size: cover;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    background: url("./assets/image/Desktop-background.png");
    background-size: cover;
  }
}

.header {
  width: 100%;
  color: $color-text;
  padding-top: 11px;
  margin-top: 46px;
  @media screen and (max-width: 580px) {
    height: 53px;
    margin-top: 0;
    padding-top: 16px;
    background-color: $color-background;
  }
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    margin: 0 15px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo__container {
  max-width: 140px;
  @media screen and (max-width: 580px) {
    display: none;
  }
}

.logo {
  width: 140px;
  height: 24px;
  margin-bottom: 10px;
  background: url('./assets/svg/logo_welbex.svg');
}

.logo__text {
  @extend %font-add;
  @include font($size: 1rem, $height: 1.2rem, $weight: 300);
  color: $color-text;
}

.navigation {
  display: flex;
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 1.9rem, $weight: 500);
  margin-top: 4px;
}

.navigation__link {
  list-style: none;
  padding-right: 30px;
  cursor: pointer;
  color: $color-text;
  &:hover {
    color: #FCB045;
  }
  @media screen and (max-width: 410px) {
    padding-right: 18px;
    text-transform: uppercase;
    @include font($size: 1.2rem, $height: 1.4rem, $weight: 300);
    &:nth-last-child(-n+2) {
      padding-right: 0;
    }
  }
}

.navigation__link:last-child {
  padding-right: 70px;
  @media screen and (max-width: 1100px) {
    padding-right: 0;
  }
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.contacts__container {
  display: flex;
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 1.9rem, $weight: 500);
  text-align: right;
  margin-top: 4px;
  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.phone {
  display: block;
  padding: 0 17px;
}

.social-media {
  display: flex;
}

.ico {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.ico_telegram {
  background: url("./assets/svg/telegram.svg");
}

.ico_viber {
  background: url("./assets/svg/viber.svg");
}

.ico_whatsapp {
  background: url("./assets/svg/whatsapp.svg");
}

.ico:hover {
  transition: all .3s ease-out ;
  scale: 1.3;
}
